<header class="relative isolate overflow-auto bg-gray-900 py-24 sm:py-32">
    <img src="https://github.com/Bcz25/Myportfolio/blob/main/assets/img/portfolio-background2.jpeg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="mx-auto max-w-7xl px-5 lg:px-8">
        <div class="flex justify-between items-center">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">Brett Czerwinski</h2>
            <!-- Navigation Links -->
    </div>
</header>